* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #7159EB;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
 /* Menú de la Pagina */

.header {
    /* background: #3a3a3a; */
    /* background: #ff00aa; */
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.header .logo{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header .logo p {
    margin-left: 5px;
    color: #EBA571;
    font-size: 20px;
    padding: 15px;
    user-select: none;
}

.header .logo p:hover{
    cursor: pointer;
    transform: scale(110%);
}

.header .logo p:active{
    transform: scale(100%);
    transition-duration: 100ms;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block; 
}

.nav-links li a {

    display: block;
    text-decoration: none;
    color: #EBA571;
    padding: 5px;
    margin: 0px 40px;
    font-size: 20px;
}

.nav-links li a:hover{
    cursor: pointer;
    transform: scale(150%);
}

/* Información sobre mi */

.container {
    width: 70%;
    height: 70%;
    margin: 50px 15% 20px 15%;
    display: flex;
    border-radius: 10%;
}
.container .about {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: auto;
    /* background: #212121; */
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}
.about .about-me{
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.about .about-nac{
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.about .about-nac img{
    height: 60%;
    width: auto;
    border: 2px solid #F551DB;
    border-radius: 20%;
}
.container .about .about-me img{
    height: 200px;
    width: auto;
    border: 2px solid #F551DB;
    border-radius: 100%;
}
.container aside{
    /* background: #adadad; */
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
}

aside .about-info h2{
    text-align: center;
    font-size: 2rem;
    color: #D4A15B;
}

aside .about-info p{
    text-align: justify;
    font-size: 20px;
    width: 100%;
    padding: 5px;
    color: #EBA571;
}

/* Conocimientos */

.container-skills {
    /* background: #3a3a3a; */
    width: 70%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10% 15%;
    border-radius: 20px;
}

.container-skills .skills-img {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 50px;
}

.container-skills .skills-img img {
    height: 100px;
    width: auto;
    margin: 0 40px 0;
}

.container-skills .skills-tittle {
    height: 20%;
    width: 100%;
}

.container-skills .skills-tittle h2{
    font-size: 2rem;
    margin: 0 0 5px 0;
    color: #D4A15B;
}

/* Formulario de contacto */

.contact {
    /* background: #fafafa; */
    height: 50%;
    width: 70%;
    margin: 5px 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
}

.contact .contact-tittle {
    width: 100%;
    height: 10%;
    float: top;
}

.contact .contact-tittle h2 {
    font-size: 2rem;
    color: #D4A15B;
}

.contact .contact-form {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.contact .contact-form  form {
    width: 100%;
    height: 90%;
}

.contact .contact-form input {
    display: block;
    margin: 5px 10%;
    border-radius: 10px;
    height: 20%;
    width: 80%;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 400;
    background: #7159EB;
    border: 1px solid #F551DB;
    color: #EBA571;  
    padding-left: 5px; 
}

.contact .contact-form textarea {
    width: 80%;
    height: 40%;
    margin: 5px 10%;
    display: block;
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: left;
    font-weight: 400;
    background: #7159EB;
    border: 1px solid #F551DB;
    color: #EBA571;
    padding-left: 5px;
    user-select: none;
    min-width: 80%;
    max-width: 80%;
    min-height: 40%;
    max-height: 40%;
}

::placeholder {
    font-size: 1.2rem;
    padding-left: 10px;
    color: #D4A15B;
    user-select: none;
    font-weight: 700;
}


.contact .contact-form button {
    margin: 20px 0;
    text-decoration: none;
    width: 15%;
    height: 15%;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid #F551DB;
    background-color: #5379D7;
    color: #D4A15B;
}

.contact .contact-form button:hover {
    cursor: pointer;
    transform: scale(120%);
}

.contact .contact-form button:active {
    transform: scale(90%);
}

/* Píe de página */

.footer {
    width: 100%;
    height: 12%;
    /* background: #3a3a3a; */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .footer-img {
    height: 100%;
    padding: 10px 10px;
}

.footer .footer-img img{
    height: 100%;
    width: auto;
    margin: 0 10px;
    border: 2px solid #52CAF7;
    border-radius: 100%;
}

.footer .footer-img img:hover {
    transform: scale(120%);
}

.footer .footer-img img:active {
    transform: scale(85%);
}