* {
    background: #181818;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    background: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.header .logo {
    background: #3a3a3a;
}

.header .logo img {
    height: 70px;
    width: auto;
    border-radius: 100%;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    background: #3a3a3a;
}

.nav-links li {
    background: #3a3a3a;
    display: inline-block; 
}

.nav-links li a {
    background: #3a3a3a;
    display: block;
    text-decoration: none;
    color: #c4c5c5;
    padding: 5px;
    margin: 0px 40px;
    font-size: 20px;
}

.nav-links li a:hover{
    color: #fffefe;
    cursor: pointer;
    transform: scale(150%);
}
